# Ignore everything
/*

# Folders
!/gradle
!/src
!/.github

# Files
!/.gitattributes
!/.gitignore
!/.editorconfig
!/build.gradle
!/checkstyle.xml
!/gradle.properties
!/gradlew
!/gradlew.bat
!/HEADER
!/LICENSE
!/README.md
!/CLAUDE.md
!/settings.gradle
!/proguard.conf

!/minecraft
!/spiralknights
!/junit

/spiralknights/build/
/spiralknights/bin/
/spiralknights/fabricloader.log

# MacOS junk files
.DS_Store
